{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid" style="position: relative;top: 50%;transform: translateY(50%);">
      <div class="row justify-content-center">
        <h3>Giờ mở cửa</h3>
      </div>
      <div class="row justify-content-center">
        <p>
          Chủ nhật 1 giờ chiều - 12 giờ đêm</p>
      </div>
      <div class="row justify-content-center">

        <p>Thứ Hai - Thứ Năm, 11 giờ sáng - 1 giờ sáng</p>

      </div>
      <div class="row justify-content-center">
        <p>Thứ Sáu - Thứ Bảy, 11 giờ sáng - 2 giờ 30 sáng *</p>
      </div>
      <div class="row justify-content-center">
        <p>Xin lưu ý rằng khi sinh viên đại học không có mặt trong buổi học, chúng tôi đóng cửa vào tối thứ Sáu và thứ Bảy lúc 1:00 sáng thay vì 2:30 sáng.</p>
      </div>
    </div>

{% endblock %}
